<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJS Playground</title>
  <link href="styles.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
</head>

<body>
  <!-- Data is only accesible through this div [Vue Instance] -->
  <div id="vue-app">
    <p>{{ name }}: {{ job }}</p>
    <!-- Need to data bind to pass a href -->
    <!-- v-bind means to bind data to vue  -->
    <a v-bind:href="website">Joe's Website</a>
    <input type="text" v-bind:value="job">
    <button>{{ greet('night') }}</button>
    <p v-html="websiteTag"></p>

    <h1>Events</h1>
    <!-- v-on is used to indicate that we'll be listening to an event -->
    <!-- these are methods that we defined in app.js -->
    <!-- .once == only allows to be clicked once -->
    <button v-on:click.once="add(1)">Add a year</button>
    <button v-on:click="subtract(1)">Subtract a year</button>

    <!-- dbl:click == double click -->
    <!-- @ == v-on; but v-on is more explicit -->
    <button @dblclick="add(10)">Add 10 years</button>
    <button @dblclick="subtract(10)">Subtract 10 years</button>
    <p>My age is {{ age }}</p>

    <!-- mouse move -->
    <div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>
    <!-- .prevent == event.preventDefault() -->
    <a v-on:click.prevent="click" href="http://imjoelee.com">Website Blocked</a>

    <h1>Keyboard Events</h1>
    <label>Name:</label>
    <!-- 2 way data binding -->
    <!-- updates state in app.js and also in browser -->
    <input type="text" v-model="name" />
    <span>{{ name }}</span>
    <label>Age:</label>
    <input type="text" v-model="age" />
    <span>{{ age }}</span>



    <h1>Computed Properties</h1>
    <button v-on:click="a++">Add to A</button>
    <button v-on:click="b++">Add to B</button>
    <p>A - {{ a }}</p>
    <p>B - {{ b }}</p>
    <!-- Computed prop functions do not need () -->
    <!-- Prevents from running both functions -->
    <p>Age + a = {{ addToA }}</p>
    <p>Age + b = {{ addToB }}</p>


    <h1>Dynamic CSS</h1>
    <h2>Example 1</h2>
    <div v-on:click="available = !available" v-bind:class="{available: available}">
      <span>Shown Available</span>
    </div>

    <!-- Passing all that data from Vue instance: computed -->
    <h2>Example 2</h2>
    <button v-on:click="nearby = !nearby">Toggle nearby</button>
    <button v-on:click="available = !available">Toggle available</button>
    <div v-bind:class="compClasses">
      <span>Ryu</span>
    </div>


    <h1>Conditionals</h1>
    <button v-on:click="error = !error">Toggle Error</button>
    <span>{{ error }}</span>
    <button v-on:click="success = !success">Toggle Success</button>
    <span>{{ success }}</span>
    <!-- if error line is false -> move on to else-if statement -->
    <!-- <p v-if="error">This is a temporary error message</p> -->
    <!-- <p v-else-if="success">This is a success message!</p> -->

    <!-- only shows when data is true -->
    <!-- v-show toggles the display: none property -->
    <p v-show="error">Error</p>
    <p v-show="success">Success</p>


    <h1>Looping with v-for</h1>
    <!-- Can index like such -->
    <!-- {{ characters[0] }} -->
    <!-- {{ characters[1] }} -->
    <ul>
      <!-- creates a li tag element with iterated elem. character -->
      <li v-for="character in characters">
        {{ character }}
      </li>
    </ul>

    <ul>
      <li v-for="(ninja, index) in ninjas">
        {{ ninja.name }} index: {{ index }}
        {{ ninja.age }} index: {{ index }}
      </li>
    </ul>

    <!-- template allows us to only output the content inside -->
    <template v-for="(ninja, index) in ninjas">
      <h3>{{ index }}, {{ ninja.name }}</h3>
      <p>{{ ninja. age }}</p>
    </template>

    <!-- loop through objects -->
    <template v-for="ninja in ninjas">
      <div v-for="(val, key) in ninja">
        {{ key }}:{{ val }}
      </div>
    </template>
  </div>

  <script src="app.js"></script>
</body>

</html>